<div class="ballot" id="ballot">
  <button class="ballot-option up" id="option-up" data-value="up" accesskey="1">
    <div>👍</div>
    <div id="count-up">0</div>
    <div>Continue</div>
  </button>
  <button class="ballot-option neutral" id="option-neutral" data-value="neutral" accesskey="2">
    <div>✊</div>
    <div id="count-neutral">0</div>
    <div>Either way</div>
  </button>
  <button class="ballot-option down" id="option-down" data-value="down" accesskey="3">
    <div>👎</div>
    <div id="count-down">0</div>
    <div>Move on</div>
  </button>
</div>
